.board {
  background-color: #ddd;
  display: flex;
  padding: 20px;
  display: inline-block;

}
.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #999;
  position: relative;
  width: 60px; /* Increased width */
  height: 60px; /* Increased height */
}
.empty-cell {
  background: #e0e0e0;
  border: 1px solid #bbb;
  width: 60px; /* Increased width */
  height: 60px; /* Increased height */
}
.cell-label {
  font-size: 14px; /* Adjusted font size for larger cells */
  color: #333;
}
